@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewData["ErrorMessage"] != null)
{
    <h2 style="color:red;">เกิดข้อผิดพลาด</h2>
    <h4><p>เนื่องจาก @ViewData["ErrorMessage"]</p></h4>

}
