@*
    File: Views/Information/ErrorViewName.cshtml
*@
@model string

<h2 style="color:red;">เกิดข้อผิดพลาด</h2>
<h4><p>เนื่องจาก @Model</p></h4>
@*<a href="@Url.Action("Index", "Home")">Return to Home</a>*@