@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Project.Sanha.Web.Models.InformationDetail

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div id="modal-format" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ค้นหายูนิต</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">ชื่อโครงการ</label>
                    <input type="text" class="form-control" name="example-text-input" value="@Model.ProjectName" readonly>
                    <input type="hidden" id="ProjectId" value="@Model.ProjectId" />
                </div>
                <div class="mb-3">
                    <label class="form-label">บ้านเลขที่</label>
                    <input type="text" id="Address" class="form-control" name="example-text-input" placeholder="กรุณากรอกข้อมูล บ้านเลขที่">
                    <div id="addressError" class="text-danger mt-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="search-unit" type="button" class="btn btn-primary ms-auto">
                    ค้นหายูนิต
                </button>
            </div>
        </div>
    </div>
</div>