@section Styles{
    <link href="~/lib/datatable/jquery.datatables.min.css?ver=@DateTime.Now.Ticks.ToString()" rel="stylesheet" />
}
<style>
    .btn-search {
        border: 0px;
        background-color: transparent;
        color: inherit;
    }

    .btn-rounded {
        border-radius: 20px;
    }

    .search-rounded {
        cursor: pointer;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

    .form-control-rounded {
        border-radius: 10rem
    }
</style>

@model Project.Sanha.Web.Models.GetProjectFromJuristic

<div class="container-xl">

    <h5>ข้อมูลการบริการ</h5>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                @* <button type="button" id="btnLoad">
                    test
                    </button>*@
                <div class="card-header bg-white-overlay">
                    <div class="row row-cards mb-3">
                        <div class="col-md-4 col-lg-5">
                            <div class="input-icon">
                                <label for="input_from">ชื่อโครงการ</label>
                                @*asp-items="@((List<SelectListItem>)ViewBag.ProjectPermissionList)"*@
                                <select id="select-project" class="form-select form-control-rounded">
                                    @if (Model.SelectProjectLists != null)
                                    {
                                        @foreach (var item in Model.SelectProjectLists)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="input-icon">
                                <label for="input_from">สถานะ</label>
                                <select id="select-status" class="form-select form-control-rounded">
                                    <option value="0">ทั้งหมด</option>
                                    <option value="1">รออนุมัติ</option>
                                    <option value="2">อนุมัติ</option>
                                    <option value="3">ไม่อนุมัติ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <form id="form-search" method="post">
                                <label for="input_from">ค้นหา</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control form-control-rounded" placeholder="Search..." autocomplete="off" name="strSearch">
                                    <span class="input-group-text search-rounded">
                                        <button class="btn-search" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="row row-cards mb-3">
                        <div class="container text-left">
                            <div class="col-lg-7">
                                <form action="#" class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="input_from">วันที่เริ่ม</label>
                                            <input class="form-control" type="date" id="date-from" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="input_to">วันที่สิ้นสุด</label>
                                            <input class="form-control" type="date" id="date-to" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                    <div class="card-table table-responsive">
                        <partial name="Partial_Trans_List" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/datatable/jquery.datatables.min.js"></script>
    <script src="~/js/approve.js?version=@DateTime.Now.Ticks.ToString()"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                var jId = "@ViewBag.Id";
                approve.init(jId);
            });
    </script>
}
