<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-table" width="100%">
    <thead>
        <tr class="table-primary">
            <th>ID</th>
            <th>Unit Code</th>            
            <th>Addr No</th>
            <th class="text-md-center">Status</th>
            @*<th class="text-md-center">Last Sale Order</th>
            <th class="text-md-center">Build</th>
            <th class="text-md-center">Floor</th>
            <th>Area</th>
            <th>Selling Price</th>
            <th class="text-md-center">Last Update</th>
            <th class="text-md-center"></th>*@
        </tr>
    </thead>
    <tbody></tbody>
</table>